@charset "utf-8";

/* ==========================================================================
	Table of Content:
	`````````````````
	* To keep an overview of structure of your code, we make use of table of 
	* content. Table of content is use display the overall tree structure of your
	* Layout. 
	* (NOTE: Remove this commented code once you start developing the code.
	* Remove the following table of content and add your own as this is just and 
	* example to let you know)
	
	1. Eric Meyer's CSS Reset Code
	2. Clear Fix
	3. Font-Face Declaration
	4. Common Stylings
	5. Header
	6. Main 
		6.1 Enter Section Name
		6.2 Enter Section Name
		6.3 Enter Section Name
	7. Footer
========================================================================== */

/* 1. Eric Meyers Reset
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
========================================================================== */

html, body, div, span, applet, object, iframe,
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Align radios and text inputs with their label */
input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
 cursor: pointer;
}

strong {
 font-weight: bold;
 font-family: inherit;
 font-size: inherit;
}

em { font-style: italic; }

img {
 border: 0;
 vertical-align: middle;
}

sub,
sup {
 vertical-align: baseline;
 position: relative;
 font-size: 55%;
 line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2 Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 3. Font-Face declaration
========================================================================== */

 /* ======= Your styling goes below ======= */